<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheet/Footer.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CapStone Project</title>
  </head>
  <body>
    <nav class="container">
      <label>BloGGer</label>
      <ul>
        <li><a class="active" href="/Home">Home</a></li>
        <li><a href="/Post">Post</a></li>
        <li><a href="/AboutUs">About Us</a></li>
        <li><a href="/ContactUs">Contact Us</a></li>
      </ul>
    </nav>
    <h1>Contact Us</h1>
    <form action="\submit" method="Post" class="form">
      <label for="name" id="l1">Your Name</label><br />
      <input type="text" name="placeholder" id="i1" required /><br />
      <label for="email" id="l2">E-mail</label><br />
      <input type="email" name="email" id="i2" required /><br />
      <label for="text" id="l3">Comment</label><br />
      <input type="text" name="Comment" id="i3" required />
    </form>
    <button type="button" class="btn1">SUBMIT</button>
  </body>
</html>
