<!DOCTYPE html>

<html lang="en">
<head>
    
    <link rel="stylesheet" href="stylesheet/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapStone Project</title>
</head>
<body>
    
    <nav class="container">
        <label>BloGGer</label>
        <ul>
            <li><a class='active' href="/Home">Home</a></li>
            <li><a href="/Post">Post</a></li>
            <li><a href="/AboutUs">About Us</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
        </ul>
    </nav>
    <h1>BloGGers:Write Your Passion Here</h1>
    <h2>Showcase Your uniqueness</h2>
    <button onclick="window.location.href = '/post'" class='btn'>CREATE YOUR BLOG</button>
</body>
</html>